# This Unit is supposed to *only* get activated in OS update mode, and then
# started just before shutdown.
#
# Hence we Conflict with shutdown, and are WantedBy system-update.target.

[Unit]
Description=Patchmanager OS upgrade watcher.

DefaultDependencies=no
Before=system-update.target
After=system-update-pre.target
After=sailfish-upgrade-ui.service

# Make sure we're "executed" on reboot/shutdown:
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=True

ExecStart=/bin/true
ExecStop=/usr/bin/add-oneshot patchmanager-setup-preload.sh
